@media all {
    body {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        background-color: rgba(63,60, 65, 1.0);
    }

    .navbar-default {
        background-color: rgb(43, 55, 76);
        border-color: transparent;
        border-bottom: 1px solid rgba(81,81,81, 1.0);
    }

    .navbar-default .navbar-brand {
        color: rgba(187, 187, 187, 1.0);
        display: inline;
        font-weight: 300;
        font-size: 24px;
        line-height: 1.1;
        padding-top: 27px;
        padding-bottom: 27px;
        height: auto;
    }

    .navbar-default .navbar-brand:hover,
    .navbar-default .navbar-brand:focus,
    .navbar-default .navbar-brand:active,
    .navbar-default .navbar-brand.active {
        color: rgb(187, 187, 187);
    }

    .main_area {
        padding: 40px 35px 0 35px;
        background: #fff;
        -moz-box-shadow: 0 -1px 3px 0 #666;
        -webkit-box-shadow: 0 -1px 3px 0 #666;
        box-shadow: 0 -1px 3px 0 #666;
    }

    input, textarea {
        margin-bottom: 2px;
        width: 100%;
    }

    input:focus, textarea:focus {
        background: #fdf4db;
        border: dotted 1px #444;
    }

    #sub_total, #tax_amount, #total {
        font-weight: bold;
    }

    #bill_to {
        color: #000;
        margin-bottom: 10px;
    }

    #section2, #items_table {
        margin-top: 30px;
    }

    #terms_caption, #note_caption {
        margin-top: 30px;
        font-weight: bold;
    }
    #left-subtotal-area{
        vertical-align: bottom;
    }

    #terms {
        width: 100%;
    }

    #company_name {
        font-size: 20px;
        font-weight: bold;
    }

    #invoice_title {
        font-size: 45px;
        font-weight: bold;
        text-align: right;
    }

    .info {
        color: rgb(187, 187, 187);
    }

    #tools {
        background-color: #3C5069;
        padding: 20px;
        margin-top: 25px;
    }

    #tax {
        width: auto;
    }

    textarea {
        wrap: hard;
        height: 24px;
        max-width: 100%;
    }
    .w100 description {
        max-width: 390px;
    }
}

@media screen {
    .main_area {
        min-height: 1000px;
    }

    input, textarea {
        border: none;
        border-bottom: 1px rgba(255, 0, 0, 0.2) dashed;
    }
}

@media print {
    /* Стиль для печати */
    .main_area {
        padding: 40px 33px 0 35px;
    }

    input, textarea {
        border: none;
    }
    textarea {
        overflow: hidden; /* Hide scrollbars */
        resize: none; /* hide resize icon */
    }
    ::-webkit-input-placeholder { /* WebKit browsers */
        color: transparent;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: transparent;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: transparent;
    }
    :-ms-input-placeholder { /* Internet Explorer 10+ */
        color: transparent;
    }
    #note_caption {
        display: none;
    }
    #note {
        padding-top: 5px;
    }
    #items_table {
        width: 100%;
        display: table;
    }
    .col-sm-8 {
        width: 100%;
    }
}
